/* YourComponent.component.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed to center vertically */
margin-top: -40px;
  
  background-color: #f4f4f4;
}

.table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px; /* Adjust as needed */
}

.table th, .table td {
  border: 2px solid #ddd;
  padding: 5px;
  text-align: left;
}

.table th {
  background-color: rgb(21, 21, 200); 
  color: white;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}


button {
  margin: 4px;
}



#editin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-submit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #0056b3;
}

#close{
  position: relative;
  right: -220px;
}

#ad{


  position: relative;
  right: -1300px;
  bottom: -60px;
}

#add{
  position: relative;
  bottom: -60px;
}

#page{
  text-align: center;
  margin-top: -100px;
}


#se{
  position: relative;
  right:-140px;
  bottom: -30px;
  padding: 6px;
}

#see{
  position: relative;
  right:-450px;
  bottom: -30px;
  padding: 6px;
}